body {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left-container {
  display: flex;
  padding-top: 30px;
  min-width: 250px !important;
  flex: 0 1;
  flex-direction: column;
  padding: 20px 0;
  border-right: 1px #c9c9c9 solid;
  height: 100vh;
}

.left-container .menu-items {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 4px;
}

.left-container .menu-items-bold {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
}

.left-container .menu-items svg {
  margin-right: 20px;
}
.left-container .menu-items-bold svg {
  margin-right: 20px;
}

.left-container .title {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: bold;
  color: gray;
}

.center-container {
  padding-top: 30px;
  margin: 0 auto;
  height: 100vh;
  overflow: auto;
  justify-content: center;
  display: flex;
}
.center-container::-webkit-scrollbar {
  display: none;
}

.right button {
  margin-right: 8px;
  margin: 4px;
}
.right-container {
  width: 50px;
  padding-right: 10px;
  margin: 0 10px 0 0 !important;
}

.searchbox-wrapper {
  display: flex;
  padding: 4px;
  justify-content: center;
  border-radius: 4px;
}

.searchbox-wrapper input {
  border-radius: 4px;
  text-align: center;
  margin: 0 10px;
}

.searchbox-wrapper input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.searchbox-left-icon {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  border-radius: 4px !important;
}
.searchbox-right-icon {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  border-radius: 4px;
}

.card-layout-wrapper {
  max-width: 840px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.card {
  min-height: 200;
  border-width: 1px;
  border-radius: 4px;
  padding: 8px;
}

.card img {
  border-radius: 4px;
  object-fit: cover;
}

.card .card-title {
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 4px;
}

.card .card-description {
  margin-left: 8px;
  border-radius: 4px;
}

.card .card-image-icon {
  margin-top: -28px;
  margin-left: 5px;
}
